<ul class='list-countries'>
    {{#each this}}
    <li>
        <p>{{name}}</p>
    </li>
    {{/each}}
</ul>







{{!-- [{
"name": "Colombia",
"capital": "Bogotá",
"population": 48759958,
"languages": [{
"iso639_1": "es",
"iso639_2": "spa",
"name": "Spanish",
"nativeName": "Español"
}],
"flag": "https://restcountries.eu/data/col.svg",
}] --}}